<p class="my-10 text-sm text-center text-gray-500">
	&copy; 2019 - {new Date().getFullYear()} —
	<a href="https://MaestranzaPro.com/" class="hover:underline" target="_blank"
		>MaestranzaPro.com</a
	>. All rights reserved.
</p>
